.myCategory{
    background-color: #676767;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 0px;
    height: 33px;
    line-height: 33px;
    font-size: 18px;
    bottom: 0px;width: 100%;
}