<ion-header>
  <ion-toolbar >
    <ion-title style="text-align: center;">{{"password recover"|translate}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-forward" style="font-size: 20px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="myForm" (ngSubmit)="forgetpassword()">  
    <ion-item>
      <ion-input formControlName="email" [placeholder]="email" type="email"></ion-input>
    </ion-item>

    <ion-button color="primary" style="margin-top: 30px;    height: 46px;" expand="block" shape="round" type="submit" >  
          <p style="font-size: 20px;">{{ "send"|translate}}</p>       
    </ion-button>     
</form> 
</ion-content>
