<ion-header>
  <ion-toolbar >
    <ion-title style="font-size: 18px;text-transform: capitalize;text-align: center;">  
          {{"Change Password"|translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-forward" style="font-size: 20px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

<ion-content>

  <form   [formGroup]="myForm" (ngSubmit)="ChangePassword()">
  
    <ion-item lines="none">    
      <ion-label style="color: black;" position="stacked">
        <ion-icon name="lock-closed" style="font-size: 22px;color:#8B177A;margin-left: 5% "></ion-icon> 
        <p style="display: inline; font-size: 19px;color: #707070;line-height: 26px;">{{"new password"|translate}}</p> 
      </ion-label>
      <ion-input  formControlName="password"   type="password" ></ion-input>
    </ion-item>

    <ion-item lines="none">    
      <ion-label style="color: black;" position="stacked">
        <ion-icon name="lock-closed" style="font-size: 22px;color:#8B177A;margin-left: 5% "></ion-icon> 
        <p style="display: inline; font-size: 19px;color: #707070;line-height: 26px;">{{"confirmpassword"|translate}}</p> 
      </ion-label>
      <ion-input  formControlName="confirm"  type="password" ></ion-input>
    </ion-item>

    <ion-button color="primary" style="margin: 10px 15%;margin-top: 10px;height: 40px;" expand="block" shape="round" type="submit" >  
      <p style="font-size: 20px;">{{ "Change Password"|translate}}</p>       
    </ion-button> 
  </form>
</ion-content>
