ion-input {
    color: black;
}
ion-segment-button{
    --background-checked:transparent;
    --background-hover	:transparent;
    --background-focused:transparent;
    --color-checked	:white;
    --indicator-color	:transparent;
  }
  