ion-input {
    color: black;
}
ion-item:last-child {
    --inner-border-width: 0;
  }

  ion-textarea{
    color: black;
  }

ion-textarea{
    --placeholder-color: black !important;
}

rating {
  ion-icon {
    color: gray;

    &.filled {
      color: #ffb400;
    }
  }
}