ion-label{
    color: black !important;
}

ion-checkbox{
    --border-color	:#E80175
}

.item-inner.agree{
    border-bottom: unset !important;
}

.list-item.item-native.agree {
    border-bottom: unset !important;
}
   
.ion-item.agree{
    --inner-box-shadow	:unset
}
     