.container {
    position: relative;
    text-align: center;
  }

  .centered {
    position: absolute;
    top:50%;
    //left: 15%;
    right: 37%;
    white-space: nowrap;
    color: #e80175;
    font-size: 18px;
    overflow: hidden;
    width: 60%;
    white-space: normal;
  }  

  .image_style{
    border:1px solid #4d4d4d;
    border-radius: 7px;
    height: 151px !important;
    width: 159px !important;
    object-fit: cover;
    object-position: top;
  }

  .span1{
    display: block;
    color: black;
    font-size: 15px;
    white-space: normal;
    width: 114px;
  }

  // .span1{
  //   display: block;
  //   color: black;
  //   font-size: 15px;
  //   overflow: hidden;
  //   white-space: nowrap;
  //   width: 114px;
  //   height: 21px;
  // }

  .span2{
    display: block;
    color: #E80175;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    text-align: right;
    margin-top: 9px;
  }

  .myIconCart{
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    bottom: 23px;
    left: 8px;
  }

  .myIconHeart{
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    top: -1px;
    right: 7px;
  }

  .myIconCompare{
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    top: -1px;
    left: 7px;
  }

 .myIconHeart1{
  font-size: 20px;
  margin-top: 10px;
  position: absolute;
  top: -1px;
  right: 7px;
  color: #9b9b9b;
  }

  .myIconCompare1{
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    top: -1px;
    left: 7px;
    color: #9b9b9b;
  }

  h4{
    margin-bottom: 9px;
    color: black;
    line-height: initial;
  }
  p{
    color: #E80175;
  }